<div class="container container-white">
  <form id="message_publisher">
    <div class="padding-box">
      <div>发布消息</div>
      <input type="hidden" id="message_channel" value="/notify/aaa">
      <textarea id="message_body" placeholder="推送给用户的消息"></textarea>
      <button id="message_submit">提交</button>
    </div>
  </form>
</div>
<script>
    $(function(){
        var client = new Faye.Client('http://127.0.0.1:3006/faye');
        client.subscribe("/notify/aaa",function(data){
            alert(data.content);
        });

        $('#message_submit').click(function(event){
            event.preventDefault();
            var msg_body = $('#message_body').val();

            var publication;
            publication = client.publish('/notify/aaa',{
                content: msg_body,
                token: '123456'
            });
            publication.callback(function(data) {
                console.info(data);
            });
            publication.errback(function(error) {
                console.info(error);
            });
      });
    });
</script>